{% extends "base.html" %}

{% block content %}
    <img src="{{ book.image_url }}" width="128" alt="{{ book.title }}">&nbsp;
    <span class="h2">{{ book.title }}</span><br>
    {% for author in book.authors.all %}
        <span><a href="/books/author/{{ author.id }}"><em>{{ author.get_fullname }}</em></a></span>
        {% if not forloop.last %}
            ,&nbsp
        {% endif %}
    {% endfor %}
    <p></p>
    <strong><a href="/books/publisher/{{ book.publisher.id }}">{{ book.publisher.name }}</a></strong><br>
    {{ book.pub_date }}
    <p><small>{{ book.format }}</small></p>
    <p>Category: <span>{{ book.category.all|join:', ' }}</span></p>

{% endblock %}